WITH GRD AS (
	SELECT DISTINCT	STUDENT_ID
					,school_year
					,GRADE
	FROM SPPF..GRADE)

SELECT	NWEA.STUDENT_ID
		,GRD.GRADE
		,NWEA.TERM
		,NWEA.SCHOOL_YEAR
		,NWEA.SUBJECT_AREA
		,NWEA.RIT_SCORE
		,NWEA.PERCENTILE
		,'performance_level'	=
			CASE	
										--------------------------FALL MATHEMATICS
						WHEN GRD.GRADE='03' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=87		THEN	11
						WHEN GRD.GRADE='04' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=95		THEN	11
						WHEN GRD.GRADE='05' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=96		THEN	11
						WHEN GRD.GRADE='06' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=90		THEN	11
						WHEN GRD.GRADE='07' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=93		THEN	11
						WHEN GRD.GRADE='08' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=93		THEN	11
						WHEN GRD.GRADE='09' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=91		THEN	11
						WHEN GRD.GRADE='10' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=91		THEN	11

						WHEN	GRD.GRADE='03' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=47		THEN	12
						WHEN	GRD.GRADE='04' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=65		THEN	12
						WHEN	GRD.GRADE='05' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=61		THEN	12
						WHEN	GRD.GRADE='06' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=64		THEN	12
						WHEN	GRD.GRADE='07' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=63		THEN	12
						WHEN	GRD.GRADE='08' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=63		THEN	12
						WHEN	GRD.GRADE='09' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=62		THEN	12
						WHEN	GRD.GRADE='10' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=62		THEN	12

						WHEN	GRD.GRADE='03' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=21		THEN	13
						WHEN	GRD.GRADE='04' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=30		THEN	13
						WHEN	GRD.GRADE='05' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=31		THEN	13
						WHEN	GRD.GRADE='06' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=33		THEN	13
						WHEN	GRD.GRADE='07' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=28		THEN	13
						WHEN	GRD.GRADE='08' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=32		THEN	13
						WHEN	GRD.GRADE='09' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=33		THEN	13
						WHEN	GRD.GRADE='10' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=33		THEN	13
	
						WHEN	GRD.GRADE='03' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=5		THEN	14
						WHEN	GRD.GRADE='04' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=7		THEN	14
						WHEN	GRD.GRADE='05' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=5		THEN	14
						WHEN	GRD.GRADE='06' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=5		THEN	14
						WHEN	GRD.GRADE='07' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=5		THEN	14
						WHEN	GRD.GRADE='08' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=6		THEN	14
						WHEN	GRD.GRADE='09' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=5		THEN	14
						WHEN	GRD.GRADE='10' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=5		THEN	14

						WHEN	GRD.GRADE='03' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<5		THEN	15
						WHEN	GRD.GRADE='04' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<7		THEN	15
						WHEN	GRD.GRADE='05' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<5		THEN	15
						WHEN	GRD.GRADE='06' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<5		THEN	15
						WHEN	GRD.GRADE='07' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<5		THEN	15
						WHEN	GRD.GRADE='08' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<6		THEN	15
						WHEN	GRD.GRADE='09' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<5		THEN	15
						WHEN	GRD.GRADE='10' AND TERM='Fall' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<5		THEN	15

--------------------------FALL READING
						WHEN	GRD.GRADE='03' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=90		THEN	11
						WHEN	GRD.GRADE='04' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=90		THEN	11
						WHEN	GRD.GRADE='05' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=94		THEN	11
						WHEN	GRD.GRADE='06' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=89		THEN	11
						WHEN	GRD.GRADE='07' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=85		THEN	11
						WHEN	GRD.GRADE='08' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=90		THEN	11
						WHEN	GRD.GRADE='09' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=90		THEN	11
						WHEN	GRD.GRADE='10' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=90		THEN	11

						WHEN	GRD.GRADE='03' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=53		THEN	12
						WHEN	GRD.GRADE='04' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=53		THEN	12
						WHEN	GRD.GRADE='05' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=53		THEN	12
						WHEN	GRD.GRADE='06' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=46		THEN	12
						WHEN	GRD.GRADE='07' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=46		THEN	12
						WHEN	GRD.GRADE='08' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=49		THEN	12
						WHEN	GRD.GRADE='09' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=54		THEN	12
						WHEN	GRD.GRADE='10' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=54		THEN	12

						WHEN	GRD.GRADE='03' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=19		THEN	13
						WHEN	GRD.GRADE='04' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=19		THEN	13
						WHEN	GRD.GRADE='05' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=18		THEN	13
						WHEN	GRD.GRADE='06' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=14		THEN	13
						WHEN	GRD.GRADE='07' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=19		THEN	13
						WHEN	GRD.GRADE='08' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=20		THEN	13
						WHEN	GRD.GRADE='09' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=29		THEN	13
						WHEN	GRD.GRADE='10' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=29		THEN	13

						WHEN	GRD.GRADE='03' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=3		THEN	14
						WHEN	GRD.GRADE='04' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=3		THEN	14
						WHEN	GRD.GRADE='05' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=2		THEN	14
						WHEN	GRD.GRADE='06' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=1		THEN	14
						WHEN	GRD.GRADE='07' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=3		THEN	14
						WHEN	GRD.GRADE='08' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=4		THEN	14
						WHEN	GRD.GRADE='09' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=7		THEN	14
						WHEN	GRD.GRADE='10' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=7		THEN	14

						WHEN	GRD.GRADE='03' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<3		THEN	15
						WHEN	GRD.GRADE='04' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<3		THEN	15
						WHEN	GRD.GRADE='05' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<2		THEN	15
						WHEN	GRD.GRADE='06' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<1		THEN	15
						WHEN	GRD.GRADE='07' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<3		THEN	15
						WHEN	GRD.GRADE='08' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<4		THEN	15
						WHEN	GRD.GRADE='09' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<7		THEN	15
						WHEN	GRD.GRADE='10' AND TERM='Fall' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<7		THEN	15

						--------------------------WINTER MATHEMATICS
						WHEN	GRD.GRADE='03' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=93		THEN	11
						WHEN	GRD.GRADE='04' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=97		THEN	11
						WHEN	GRD.GRADE='05' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=97		THEN	11
						WHEN	GRD.GRADE='06' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=95		THEN	11
						WHEN	GRD.GRADE='07' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=93		THEN	11
						WHEN	GRD.GRADE='08' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=93		THEN	11
						WHEN	GRD.GRADE='09' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=93		THEN	11
						WHEN	GRD.GRADE='10' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=93		THEN	11

						WHEN	GRD.GRADE='03' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=55		THEN	12
						WHEN	GRD.GRADE='04' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=68		THEN	12
						WHEN	GRD.GRADE='05' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=69		THEN	12
						WHEN	GRD.GRADE='06' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=72		THEN	12
						WHEN	GRD.GRADE='07' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=70		THEN	12
						WHEN	GRD.GRADE='08' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=66		THEN	12
						WHEN	GRD.GRADE='09' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=71		THEN	12
						WHEN	GRD.GRADE='10' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=71		THEN	12

						WHEN	GRD.GRADE='03' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=30		THEN	13
						WHEN	GRD.GRADE='04' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=36		THEN	13
						WHEN GRD.GRADE='05' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=37		THEN	13
						WHEN GRD.GRADE='06' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=43		THEN	13
						WHEN GRD.GRADE='07' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=36		THEN	13
						WHEN GRD.GRADE='08' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=44		THEN	13
						WHEN GRD.GRADE='09' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=46		THEN	13
						WHEN GRD.GRADE='10' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=46		THEN	13

						WHEN GRD.GRADE='03' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=10		THEN	14
						WHEN GRD.GRADE='04' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=11		THEN	14
						WHEN GRD.GRADE='05' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=7		THEN	14
						WHEN GRD.GRADE='06' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=10		THEN	14
						WHEN GRD.GRADE='07' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=9		THEN	14
						WHEN GRD.GRADE='08' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=18		THEN	14
						WHEN GRD.GRADE='09' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=11		THEN	14
						WHEN GRD.GRADE='10' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE>=11		THEN	14

						WHEN GRD.GRADE='03' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<10		THEN	15
						WHEN GRD.GRADE='04' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<11		THEN	15
						WHEN GRD.GRADE='05' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<7		THEN	15
						WHEN GRD.GRADE='06' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<10		THEN	15
						WHEN GRD.GRADE='07' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<9		THEN	15
						WHEN GRD.GRADE='08' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<18		THEN	15
						WHEN GRD.GRADE='09' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<11		THEN	15
						WHEN GRD.GRADE='10' AND TERM='Winter' AND SUBJECT_AREA='Mathematics' 
						AND NWEA.PERCENTILE<11		THEN	15

-------------------------WINTER READING
						WHEN GRD.GRADE='03' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=92		THEN	11
						WHEN GRD.GRADE='04' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=92		THEN	11
						WHEN GRD.GRADE='05' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=91		THEN	11
						WHEN GRD.GRADE='06' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=90		THEN	11
						WHEN GRD.GRADE='07' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=87		THEN	11
						WHEN GRD.GRADE='08' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=91		THEN	11
						WHEN GRD.GRADE='09' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=91		THEN	11
						WHEN GRD.GRADE='10' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=91		THEN	11

						WHEN GRD.GRADE='03' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=61		THEN	12
						WHEN GRD.GRADE='04' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=61		THEN	12
						WHEN GRD.GRADE='05' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=62		THEN	12
						WHEN GRD.GRADE='06' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=55		THEN	12
						WHEN GRD.GRADE='07' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=55		THEN	12
						WHEN GRD.GRADE='08' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=58		THEN	12
						WHEN GRD.GRADE='09' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=61		THEN	12
						WHEN GRD.GRADE='10' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=61		THEN	12

						WHEN GRD.GRADE='03' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=30		THEN	13
						WHEN GRD.GRADE='04' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=30		THEN	13
						WHEN GRD.GRADE='05' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=31		THEN	13
						WHEN GRD.GRADE='06' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=26		THEN	13
						WHEN GRD.GRADE='07' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=28		THEN	13
						WHEN GRD.GRADE='08' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=31		THEN	13
						WHEN GRD.GRADE='09' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=35		THEN	13
						WHEN GRD.GRADE='10' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=35		THEN	13

						WHEN GRD.GRADE='03' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=9		THEN	14
						WHEN GRD.GRADE='04' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=9		THEN	14
						WHEN GRD.GRADE='05' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=7		THEN	14
						WHEN GRD.GRADE='06' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=5		THEN	14
						WHEN GRD.GRADE='07' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=8		THEN	14
						WHEN GRD.GRADE='08' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=11		THEN	14
						WHEN GRD.GRADE='09' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=11		THEN	14
						WHEN GRD.GRADE='10' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE>=11		THEN	14

						WHEN GRD.GRADE='03' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<9		THEN	15
						WHEN GRD.GRADE='04' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<9		THEN	15
						WHEN GRD.GRADE='05' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<7		THEN	15
						WHEN GRD.GRADE='06' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<5		THEN	15
						WHEN GRD.GRADE='07' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<8		THEN	15
						WHEN GRD.GRADE='08' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<11		THEN	15
						WHEN GRD.GRADE='09' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<11		THEN	15
						WHEN GRD.GRADE='10' AND TERM='Winter' AND SUBJECT_AREA='Reading' 
						AND NWEA.PERCENTILE<11		THEN	15

				ELSE	NULL
			END
/*
	   Name:		nwea_proficiency_ccstd_v
	   Author:	Damico, Nicholas J
	   Purpose:	Query that predicts the what performance level a student will have on Common Core end of year state 
	   tests (PARCC, AIR). HS predictions are for performance on ELA1 and  
	   Change Log:
	   Date		    Who				   What
	   *************   **********************  ****************
	   23-Mar-2016	    Damico, Nicholas J	   Initial creation
	   		
*/
FROM SPPF..NWEA_SCORE	AS	NWEA
LEFT JOIN GRD ON NWEA.student_id = GRD.student_id AND NWEA.school_year = GRD.school_year
WHERE GRD.GRADE IN ('02', '03', '04', '05', '06', '07', '08', '09', '10')